body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cfe8ff;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: black;
  margin-bottom: 30px;
}

.input-area {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

input {
  padding: 12px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #003366;
  background-color: white;
  color: black;
}

button {
  padding: 12px 25px;
  background-color: #0b3c6d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #07294a;
}

table {
  border-collapse: collapse;
  width: 450px;
}

th {
  background-color: #0b3c6d;
  color: white;
  padding: 12px;
}

td {
   padding: 10px;
   text-align: center;
   color: black;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}